<%- include('layout/header') %>

	<!-- banner-text -->
	<div class="slider">
		<div class="callbacks_container">
			<ul class="rslides callbacks callbacks1" id="slider4">
				<li>
					<div class="agileits-banner-info">

						<h2 style="font-weight: bold ; color: aliceblue;"> YOUR <br> NEAREST <br> Sports
							Community
						</h2>
						<br>
						<h2 style="font-weight: bold ; color: rgb(41, 192, 41);"> is just a tap away</h2>
					</div>
				</li>
				<!-- <li>
									<div class="agileits-banner-info">
											   <h4>Star To day</h4>
											   <h3>Lets Go Fishing</h3>
											   <p>Sea Fishing</p>
											</div>	
								</li> -->
			</ul>
			<br>
			<!-- ....Buttons  -->
			<div class="more" style="padding-left: 500px;">
				<a href="/userlogin" class="hvr-shutter-in-vertical">To
					Book Venue<span class="glyphicon glyphicon-arrow-right"></span></a>
				<a href="" class="hvr-shutter" data-toggle="modal" data-target="#myModal" style="margin-left: 40px;">To
					Get Listed<span class="glyphicon glyphicon-arrow-right"></span></a>
			</div>

		</div>
	</div>

	<!--banner Slider starts Here-->
	<div class="w3_agileits_social_media ">
		<ul class="social-icons3">
			<li class="agileinfo_share">Share On</li>
			<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
			</li>
			<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
			</li>
			<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	</div>
	</div>
	</div>
	<!-- //banner -->

	<!---news -->
	<div class="news">
		<div class="w3lnews-grid">
			<div class="col-md-6 col-sm-6 news-left">
				<div class="wthree-almubimg">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 news-right">
				<h4>PRESENCE IN 100+ CITIES ACROSS INDIA</h4>
				<p>Duis nulla nulla, faucibus id diam ac, luctus sodales purus. Quisque nibh ipsum, venenatis vitae
					imperdiet eu, commodo nec sem. Ut accumsan tellus quis velit mattis sollicitudin. </p>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="w3lnews-grid">
			<div class="col-md-6 col-sm-6 news1-right">
				<div class="wthree-almubimg wthree1-almubimg">
				</div>
			</div>
			<div class="col-md-6 col-sm-6 news1-left">
				<h4>MEET YOUR FRIENDS OVER GAME
				</h4>
				<p>Duis nulla nulla, faucibus id diam ac, luctus sodales purus. Quisque nibh ipsum, venenatis vitae
					imperdiet eu, commodo nec sem. Ut accumsan tellus quis velit mattis sollicitudin. </p>
				<!-- <div class="more">
					<a href="#" class="hvr-shutter-in-vertical" data-toggle="modal" data-target="#myModal">Read
						More<span class="glyphicon glyphicon-arrow-right"></span></a>
				</div> -->
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!--- //news -->

	<div class="contact-w3ls" id="contact">
		<div class="container">
			<div class="w3_tittle second two">
				<h3 class="agile-tittle two gal">Contact Us</h3>
				<div class="line-style second"><span class="second"></span></div>
			</div>
			<div class="inner_w3l_agile_grids">
				<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
					<div class="contact-agileits">
						<h4>Drop a Line</h4>
						<p class="contact-agile2">Sign Up For Our News Letters</p>
						<form action="#" method="post" name="sentMessage" id="contactForm" novalidate>
							<div class="control-group form-group">
								<div class="controls">
									<label class="contact-p1">Full Name:</label>
									<input type="text" class="form-control" name="name" id="name" required
										data-validation-required-message="Please enter your name.">
									<p class="help-block"></p>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<label class="contact-p1">Phone Number:</label>
									<input type="tel" class="form-control" name="phone" id="phone" required
										data-validation-required-message="Please enter your phone number.">
									<p class="help-block"></p>
								</div>
							</div>
							<div class="control-group form-group">
								<div class="controls">
									<label class="contact-p1">Email Address:</label>
									<input type="email" class="form-control" name="email" id="email" required
										data-validation-required-message="Please enter your email address.">
									<p class="help-block"></p>
								</div>
							</div>
							<div id="success"></div>
							<!-- For success/fail messages -->
							<button type="submit" class="btn btn-primary">Send</button>
						</form>
					</div>
				</div>
				<!-- <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1 map" data-aos="flip-right">

					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783"
						class="map" style="border:0" allowfullscreen=""></iframe>

				</div> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer_bottom section">
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<div class="col-md-4 w3-agile-grid">
					<h5>About Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum urna non nisi ornare,
						condimentum iaculis ipsum blandit. Duis auctor vulputate metus nec luctus.</p>
					<div class="w3_agileits_social_media team_agile_w3l team footer">
						<ul class="social-icons3">

							<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
							<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble"
										aria-hidden="true"></i></a></li>
							<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Recent Posts</h5>
					<div class="w3ls-post-grids">
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/g2.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Proin scelerisque, sem a
										facilisis mollis</a></h6>
								<p>Nov 24,2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/g4.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Proin scelerisque, sem a
										facilisis mollis</a></h6>
								<p>Dec 25,2016</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img">
								<a href="#"><img src="images/g7.jpg" alt="" /></a>
							</div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Proin scelerisque, sem a
										facilisis mollis</a></h6>
								<p>Jan 06,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Address</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+1 234 567 8901</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Broome St, NY 10002, Canada.
									<span>Telephone : +00 111 222 3333</span>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<p>© 2017 Fishing. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
	<!--//footer-->

	<%- include('layout/footer') %>